<html>
    <body>
      <form action='/predict' method="POST">
        fixed acidity: <input type='float', name='fixed acidity'><br>
        volatile acidity:<input type='float', name='volatile acidity'><br>
        citric acid:<input type='float', name='citric acid'><br>
        residual sugar:<input type='float', name='residual sugar'><br>
        chlorides:<input type='float', name='chlorides'><br>
        free sulfur dioxide:<input type='float', name='free sulfur dioxide'><br>
        total sulfur dioxide:<input type='float', name='total sulfur dioxide'><br>
        density:<input type='float', name='density'><br>
        pH:<input type='float', name='pH'><br>
        sulphates:<input type='float', name='sulphates'><br>
        alcohol:<input type='float', name='alcohol'><br>
        <!--Type: {{result}} <br>-->
        
        <input type='submit' value='Predict'>
      </form>  
    </body>
</html>